@media (max-width: 500px) {
    .fc .fc-toolbar.fc-header-toolbar {
        font-size: 3.2vmin;
        
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        font-size: 3.2vmin;
    }
    .fc-settings-button .fa-gear{
        font-size: 3.2vmin;
    }
}
@media (max-width: 665px) {
    .fc-toolbar-title{
        display: none;
    }
}