.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFFFFF;
  color: black;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.kodutooheader{
  position: fixed; 
  z-index:50; 
  padding: 10px;
  background: white; 
  right: 0; 
  left: 0; 
  top:0;
}
.shadow {
  box-shadow: 5px 0px 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 60;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  max-width: 570px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #2c3e50;
  padding: 15px;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  background-color: transparent;
  border: 0px; 
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logout-button {
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2c3e50;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
}
.logout-button:hover,.logout-button:active,.logout-button:focus {
  background: #222f3d;
}

.modal-input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.pv-select{
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


@media (max-width: 500px) {
  .tunniplaan .fc .fc-toolbar.fc-header-toolbar {
      font-size: 3.2vmin;
      
  }

  .tunniplaan .fc-header-toolbar .fc-toolbar-chunk {
      font-size: 3.2vmin;
  }
  .tunniplaan .fc-settings-button .fa-gear{
      font-size: 3.2vmin;
  }
}
@media (max-width: 715px) {
  .tunniplaan .fc-toolbar-title{
      display: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 60;
}

.loader--hidden {
  visibility: hidden;
}

/* HTML: <div class="loader"></div> */
.loader::after{
  content: "";
  width: 100px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#2c3e50 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 900ms infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}


label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 30px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

input:checked + label {
  background: #2c3e50;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.fc-list-event{
  --fc-list-event-hover-bg-color: rgb(0,0,0,0.05); 
}

.fc-list-table tbody tr th{
  column-span: 4;
}

.dark-mode {
  background-color: #121212;
  color: #bbbbbb;
  --fc-border-color: #3f3f3f;
  --fc-page-bg-color: #3f3f3f;
  --fc-today-bg-color: 	rgba(75, 75, 75, 0.3);
  
  .fc-list-event{
    --fc-list-event-hover-bg-color: rgba(100, 100, 100, 0.15); 
  }

  .fc-timegrid-event-harness .fc-event {
    filter: brightness(70%);
  }
  .kodutooheader{
    background: #121212;
  }
  .shadow{
    color: #3f3f3f;
  }
  .tooltip {
    color: #e6e6e6;
    background: #3f3f3f;
  }
  .modal-body, .fc-list-empty, .fc-list-day-cushion{
    background: #242424;
  }
  .pv-select, .modal-input{
    color:#bbbbbb;
    background: #3d3d3d;
  }
}

.highlight-btn{
  width: 0;
  vertical-align: center;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
  margin-left: 10px;
}

.yellow {
  background-color: yellow;
  margin-left: 15px;
}