.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFFFFF;
  color: black;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.kodutooheader{
  position: fixed; 
  z-index:50; 
  padding: 10px;
  background: white; 
  right: 0; 
  left: 0; 
  top:0;
}
.shadow {
  box-shadow: 5px 0px 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 60;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  max-width: 570px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #2c3e50;
  padding: 15px;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  background-color: transparent;
  border: 0px; 
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logout-button {
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2c3e50;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
}

.add-button {
  border-radius: 4px;
  background: #2c3e50;
  border: 0;
  padding: 15px 16.875px;
  color: #FFFFFF;
  font-size: 14px;
}

.add-button:hover, .add-button:active, .add-button:focus,
.logout-button:hover,.logout-button:active,.logout-button:focus {
  background: #222f3d;
}

.modal-input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.datetime {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  width: auto;
}

.pv-select{
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


@media (max-width: 500px) {
  .tunniplaan .fc .fc-toolbar.fc-header-toolbar {
      font-size: 3.2vmin;
      
  }

  .tunniplaan .fc-header-toolbar .fc-toolbar-chunk {
      font-size: 3.2vmin;
  }
  .tunniplaan .fc-settings-button .fa-gear{
      font-size: 3.2vmin;
  }
}
@media (max-width: 715px) {
  .tunniplaan .fc-toolbar-title{
      display: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 60;
}

.loader--hidden {
  display: none;
}

.loader::after{
  content: "";
  width: 100px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#2c3e50 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 900ms infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}


label[for="switch"] {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 30px;
  position: relative;
}

label[for="switch"]:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

input:checked + label[for="switch"] {
  background: #2c3e50;
}

input:checked + label[for="switch"]:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.fc-list-event{
  --fc-list-event-hover-bg-color: rgb(0,0,0,0.05); 
}

.fc-list-table tbody tr th{
  column-span: 4;
}
.fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame.fc-timegrid-axis-frame-liquid {
  display: none;
}
.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 1px;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 0px;
}
.dark-mode {
  background-color: #121212;
  color: #bbbbbb;
  --fc-border-color: #3f3f3f;
  --fc-page-bg-color: #3f3f3f;
  --fc-today-bg-color: rgba(75, 75, 75, 0.3);
}

.dark-mode .datetime {
  color: #bbbbbb;
  background: #3d3d3d;
}

.dark-mode .flatpickr-calendar {
  background-color: #242424 !important;
  -webkit-box-shadow: 1px 0 0 #3f3f3f, -1px 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #3f3f3f, -1px 0 0 #3f3f3f, 0 1px 0 #3f3f3f 0 -1px 0 #3f3f3f, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.dark-mode .flatpickr-day, .dark-mode span.flatpickr-weekday, .dark-mode .flatpickr-current-month, 
.dark-mode .flatpickr-months .flatpickr-prev-month, .dark-mode .flatpickr-months .flatpickr-next-month,
.dark-mode .flatpickr-time input {
  color: #bbbbbb !important; 
  fill: #bbbbbb !important;
}
.dark-mode .numInputWrapper span.arrowUp:after,
.dark-mode .numInputWrapper span.arrowDown:after {
  border-bottom-color: #bbbbbb !important;
  border-top-color: #bbbbbb !important;
}

.dark-mode .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background: #3d3d3d;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg{
  fill: #2c3e50 !important;
}

.dark-mode .flatpickr-day:hover {
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}

.dark-mode .flatpickr-day.nextMonthDay,  .dark-mode .flatpickr-day.prevMonthDay{
    color: #555 !important;
}

.flatpickr-calendar:before, .flatpickr-calendar:after {
  border: none !important;
}

.dark-mode .flatpickr-time input:hover, .dark-mode .flatpickr-time input:focus {
  background-color: #202020;
}

.flatpickr-time input:hover, .flatpickr-time input:focus {
  border-radius: 5px;
}

.flatpickr-calendar.hasTime .flatpickr-time {
  border-top: none !important;
}

.flatpickr-day.selected, .flatpickr-day.startRange, 
.flatpickr-day.endRange, .flatpickr-day.selected.inRange, 
.flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, 
.flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, 
.flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, 
.flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, 
.flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, 
.flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, 
.flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #2c3e50 !important;
  border-color: #2c3e50 !important;
  color: #bbbbbb !important; 
}
.dark-mode .flatpickr-day.today {
  border-color: #3f3f3f;
}

.dark-mode .fc-list-event {
  --fc-list-event-hover-bg-color: rgba(100, 100, 100, 0.15);
}

.dark-mode .fc-timegrid-event-harness,
.dark-mode .fc-daygrid-event-harness {
  filter: brightness(70%);
}

.dark-mode .kodutooheader {
  background: #121212;
}

.dark-mode .shadow {
  color: #3f3f3f;
}

.dark-mode .tooltip {
  color: #e6e6e6;
  background: #3f3f3f;
}

.dark-mode .modal-body,
.dark-mode .fc-list-empty,
.dark-mode .fc-list-day-cushion {
  background: #242424;
}

.dark-mode .pv-select,
.dark-mode .modal-input {
  color: #bbbbbb;
  background: #3d3d3d;
}


.highlight-btn{
  width: 0;
  vertical-align: center;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
  margin-left: 10px;
}

.yellow {
  background-color: yellow;
  margin-left: 15px;
}


#add .datetime-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  column-gap: 5px;
}

#add .date, .time {
    flex-basis: 0; 
    margin-bottom: 16px;
}

#add .submit {
    margin-bottom: 16px; 
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}


#add .fa-clock, #add .fa-calendar {
  margin: 15px -30px;
  position: absolute;
  vertical-align: middle;
}

.event {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap:10px;
}

.event_button {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
