entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http3: {} 
    
providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  resolver:
    acme:
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
