:root {
  --color-primary: #2c3e50;
  --color-primary-dark: #222f3d;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input {
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  background: #f0f0f0;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  font-family: inherit;
  font-size: 14px;
  padding: 15px;
  border: 0;
  border-radius: 4px;
  background: var(--color-primary);
  color: #ffffff;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background: var(--color-primary-dark);
}
