.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  margin: 10% auto;
  max-width: 570px;
  width: 100%;
  box-shadow:
    0 5px 8px rgba(0, 0, 0, 0.2),
    0 7px 20px rgba(0, 0, 0, 0.17);
  z-index: 1000;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.modal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 14px 20px;
}

.modal header h2 {
  margin: 0;
}

.modal section {
  background: #fff;
  padding: 14px 20px;
}

.modal input {
  width: 100%;
}

.modal button:not(.close) {
  padding: 10px;
}

.close {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}

.close:hover {
  color: #000;
  background: none;
}
